<h2>Reward Class Detail</h2>
<p>
  <b>Name:</b>
  <%= @reward_class.name %>
</p>

<%= link_to 'Edit', edit_admins_reward_class_path(@reward_class) %> |
<%= link_to 'Back', admins_reward_classes_path %>
