<h1>Profile</h1>

<%= render :partial => "shared/bar_profile" %>

<%#= gmaps4rails(@json) %>
<%= gmaps("map_options" => { "detect_location" => false, "center_on_user" => false, :zoom => 6},"markers" => { "data" => @json }) %>

<%= link_to "Edit", edit_bar_registration_path %>
