  <% title "Sign Up - Step 1" %>

  <div>
  <%= f.email_field :email, :value => social_email, :class=>"text" %></div>

  <div>
  <%= f.password_field :password, :class=>"text" %></div>

  <div>
  <%= f.password_field :password_confirmation, :class=>"text" %></div>