<% title "Sign Up - Step 1" %>
<div>  
  <%= f.email_field :email, :class=> "text", :placeholder => "Email", :style=>"width: 225px;" %></div>

<div>
  <%= f.password_field :password, :class=>"text", :placeholder => "Password", :style=>"width: 225px;" %></div>

<div>
  <%= f.password_field :password_confirmation, :class=>"text", :placeholder => "Re-type", :style=>"width: 225px;" %></div>