<div id="AddStep3" class="translate">
  <h2>Invite people you know to join SwigBig</h2>
  <div style="clear: both;"></div>
  <div id="AddInvite">
    <div id="TheEmail">
      <p><label>From:</label> <span class="notranslate"><%= @user.full_name %></span></p>
      <p><label>Subject:</label> <strong class="notranslate"><%= @user.full_name %>. wants you to join SwigBig!</strong></p>
      <tt>
        Hi there -<br>
        SwigBig is all about helping you find new ways to explore the Bar.<br><br>
        We can help you meet up with your friends, find new places to go and things to experience in your neighborhood.<br><br>
        Sign up here: https://swigbig.com/<br>
        Have fun,<br>Your friends @ swigBig
      </tt>
    </div>
    <p>We'll be sending them a message that looks like this. Enter their email address below (separated by commas, please).</p>
    <div id="TheInvite">
      <%= form_tag "/dashboard/invite_email" do  %>
        <%= text_area_tag "email",nil, :rows => 10, :cols => 30 %>
        <br />
        <input type="submit" class="newGreenButton" value="Invite Friends">
      <% end %>
    </div>
    <div style="clear: both;"></div>
  </div>
</div>