.map_container {
/*    padding: 6px;
    border-width: 1px;
    border-style: solid;
    border-color: #ccc #ccc #999 #ccc;
    -webkit-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
    -moz-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
    box-shadow: rgba(64, 64, 64, 0.1) 0 2px 5px;
    width: 800px;*/

    border-color: #CCCCCC #CCCCCC #999999;
    border-style: solid;
    border-width: 1px;
    -webkit-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
    -moz-box-shadow: rgba(64, 64, 64, 0.5) 0 2px 5px;
    box-shadow: 0 2px 5px rgba(64, 64, 64, 0.1);
    padding: 6px;
/*    width: 715px;*/
}

.gmaps4rails_map {
    height: 400px;
    position: relative;
    width: 800px;
    z-index: 999;
}

.bing_map {
    position: absolute;
    top: 20;
    left: 10;
    width: 400px;
    height: 400px;
    border:#555555 2px solid;
}